#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form input {
  min-height: 50px;
  min-width: 100px;
}

.board {
  display: flex;
  gap: 3em;
}

.hangman {
  position: relative;
  width: 200px;
  height: 300px;
}

.gallows .pole {
  height: 450px;
  width: 10px;
  background: #979494;
  position: absolute;
  left: 50px;
  top: 0;
}

.gallows .beam {
  height: 10px;
  width: 200px;
  background: #979494;
  position: absolute;
  top: 0;
  left: 50px;
}

.gallows .rope {
  height: 50px;
  width: 2px;
  background: #979494;
  position: absolute;
  top: 10px;
  left: 230px;
}

.man .head {
  width: 50px;
  height: 50px;
  background: #979494;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 207px;
}

.man .body {
  height: 110px;
  width: 4px;
  background: #979494;
  position: absolute;
  top: 110px;
  left: 230px;
}

.man .arm.left,
.man .arm.right {
  height: 4px;
  width: 100px;
  background: #979494;
  position: absolute;
  top: 130px;
}

.man .arm.left {
  left: 135px;
  transform: rotate(20deg);
}

.man .arm.right {
  left: 230px;
  transform: rotate(-20deg);
}

.man .leg.left,
.man .leg.right {
  height: 4px;
  width: 100px;
  background: #979494;
  position: absolute;
  top: 243px;
}

.man .leg.left {
  left: 139px;
  transform: rotate(-30deg);
}

.man .leg.right {
  left: 225px;
  transform: rotate(30deg);
}